<h1>Prä-OP Erfassungsprogramm</h1>
<div class="field">
  <div class="name">
    <input type="text" value="Vorname" #vname onclick="this.select()" id="vname">
    <input type="text" value="Nachname" #nname onclick="this.select()" id="nname">
  </div>
  <div class="tot">
    <input style="padding-left: 15px;" type="time" name="time" id="time" #tot (keyup.enter)="response(vname.value,nname.value,tot.value)" #time>
  </div>
  <div class="dot">
    <label for="date">
      <input type="date" name="" id="date" (keyup.enter)="response(vname.value,nname.value,tot.value)" #date>
    </label>
  </div>
  <div>
    <button id="submit" (click)="response(vname.value,nname.value,tot.value)">+</button>
  </div>
</div>
<div class="field" id="print">
  <button (click)="print2()">Ausgabe</button>
</div>
<button id="cmd" (click)="command()">Befehl</button>
<div class="result" *ngIf="printshow==true">
  <table id="table">
    <tr *ngFor="let pat of patimp">
      <th>{{ pat.cvname }}</th>
      <th>{{ pat.cnname }}</th>
      <th>{{ pat.cdate }}</th>
      <th>{{ pat.ctime }}</th>
    </tr>
  </table>
  <div id="hideprint" (click)="hideprint()">X</div>
  <div id="printwindow" *ngIf="hideprintbuttons==false" (click)="printwindow()">Print</div>
</div>